:root {
  --primary-color: #4caf50;
  --background-color: #f5f5f5;
  --text-color: #333;
  --shadow-color-dark: rgba(0, 0, 0, 0.4);
  --shadow-color-light: rgba(255, 255, 255, 0.8);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: darken(var(--primary-color), 20%);
}



/*POSITION DES MEMBRES DU ZOMBIE*/
#zombieView {
  width: 150px;
  height: 70px;
}

#displayZombie {
  position: relative;
  bottom : -90px;
  left : -130px;
}

#torso {
  width: 65px;
  height: auto;
  position: absolute;
  bottom: 25px;
  left : 4px;
  z-index: 0;
}

#left-thigh, #right-thigh  {
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 15px;
  z-index: -1;
}

#left-thigh {
  left: 16px;
}

#right-thigh {
  left: 32px;
}

#left-leg, #right-leg {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 2px;
  z-index: -2;
}

#left-leg {
  left: 20px;
}

#right-leg {
  left: 38px;
}

#left-feet, #right-feet {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: -2px;
  z-index: -3;
}

#left-feet {
  left: 20px;
}

#right-feet {
  left: 40px;
}

#left-upper-arm, #right-upper-arm {
  width: 25px;
  height: auto;
  position: absolute;
  bottom: 50px;
}

#left-upper-arm {
  z-index: 2;
  left: 25px;
}

#right-upper-arm {
  width: 20px;
  bottom: 55px;
  z-index: -1;
  left: 50px;
}

#left-forearm, #right-forearm {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 54px;
  z-index: 3;
}

#left-forearm {
  left: 35px;
}

#right-forearm {
  left: 57px;
  bottom : 57px;
}

#left-hand, #right-hand {
  width: 20px;
  height: auto;
  position: absolute;
  z-index: 4;
}

#left-hand {
  left: 45px;
  bottom: 56px;
}

#right-hand {
  left: 67px;
  bottom: 59px;
}

#shirt {
  width: 62.5px;
  position: absolute;
  height: auto;
  left: 5px;
  bottom: 30px;
  z-index: 1;
}

#head {
  position: absolute;
  width: 110px;
  z-index: 2;
  bottom: 50px;
  left: 0px;
}

#eyes {
  position: absolute;
  width: 47.5px;
  z-index: 3;
  left: 40px;
  bottom:82px;
}

#mouth {
  position: absolute;
  z-index:4;
  width: 25px;
  left: 54px;
  bottom: 67px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  margin-left: 80px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
  box-shadow: 8px 8px 16px var(--shadow-color-dark),
    -8px -8px 16px var(--shadow-color-light);
}

button:hover {
  background-color: darken(var(--primary-color), 20%);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#noZombies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#zombieEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  border: solid 2px #4caf50; /* Bordure solide, 2px d'épaisseur, couleur verte */
  padding: 0px 120px 20px 20px; 
  margin: 20px;
  
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2); /* Ombre légère */
  transition: transform 0.3s ease-in-out; /* Transition au survol */
}

ul:hover {
  transform: translateY(-5px); /* Animation de léger déplacement au survol */
}